{% extends "base_generic.html" %}
{% block addmodel %} class="active" {% endblock %}
{% block content %}
    <div id="TransactionMatrix" class="controls hide">
        <span>From</span>
        <input name="from" type="number" class="input-mini">
        <span>To</span>
        <input name="to" type="number" class="input-mini">
        <span>Value</span>
        <input name="value" type="text" class="input-mini">
        <hr/>
        <a id="" class="btn-small btn-primary btn-add" href="">Add Line</a>
    </div>
    <div id="Nodes" class="controls hide">
        <label for="inputID">ID</label>
        <input name="id" id="inputID" type="number" class="input-mini input-nodes"/>

        <label for="inputST">Service Time</label>
        <input name="serviceTime" id="inputST" type="text" class="input-nodes"/>

        <label for="inputN">Name</label>
        <input name="name" id="inputN" type="text" class="input-nodes"/>

        <label for="inputT">Type</label>
        <select name="type" id="inputT" class="form-control input-nodes">
            <option value="single_server" title="Single Server">Single Server</option>
            <option value="infinite_server" title="Infinite Server">Infinite Server</option>
            <option value="erlang_server" title="Erlang Server'">Erlang Server</option>
        </select>
        <label for="inputOP">Other Params</label>
        <input name="otherParams" id="inputOP" type="text" class="input-nodes" placeholder="erlang_k=3, parm=value"/>
        <hr/>
        <a id="" class="btn-small btn-primary btn-add" href="">Add Line</a>
    </div>
    <form class="form-horizontal row" action="{% url 'add_model' %}" method="POST">
        <div class="control-group">
            <label class="control-label" for="inputTitle">Model Title</label>

            <div class="controls">
                <input type="text" class="span4" id="inputTitle" name="title" placeholder="Title">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Transaction Matrix</label>

            <div class="controls">
                <span>From</span>
                <input name="from" type="number" class="input-mini">
                <span>To</span>
                <input name="to" type="number" class="input-mini">
                <span>Value</span>
                <input name="value" type="text" class="input-mini">
                <hr/>
                <a id="addValueTransactionMatrix" class="btn-small btn-primary btn-add" href="">Add Line</a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Nodes</label>

            <div class="controls">
                <label for="inputID">ID</label>
                <input name="id" id="inputID" type="number" class="input-mini input-nodes"/>

                <label for="inputST">Service Time</label>
                <input name="serviceTime" id="inputST" type="text" class="input-nodes"/>

                <label for="inputN">Name</label>
                <input name="name" id="inputN" type="text" class="input-nodes"/>

                <label for="inputT">Type</label>
                <select name="type" id="inputT" class="form-control input-nodes">
                    <option value="single_server" title="Single Server">Single Server</option>
                    <option value="infinite_server" title="Infinite Server">Infinite Server</option>
                    <option value="erlang_server" title="Erlang Server'">Erlang Server</option>
                </select>
                <label for="inputOP">Other Params</label>
                <input name="otherParams" id="inputOP" type="text" class="input-nodes"
                       placeholder="erlang_k=3, parm=value"/>
                <hr/>
                <a id="nodes-add-button" class="btn-small btn-primary btn-add" href="">Add Node</a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputRN">Reference Node</label>

            <div class="controls">
                <input name="referenceNode" id="inputRN" type="number" class="input-mini"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputNOC">Number of Clients</label>

            <div class="controls">
                <input name="numberOfClients" id="inputNOC" type="number" class="input-mini"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputAll-N">Get values for each number of client</label>

            <div class="controls">
                <input name="valueForEachNumberOfClient" id="inputAll-N" type="checkbox"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputAll-N">Ignore previusly data and use Json </label>

            <div class="controls">
                <input name="onlyJsonData" id="inputAll-N" type="checkbox"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputData">Json Data</label>

            <div class="controls">
                <textarea rows="10" class="span9" id="inputData" name="json_input"
                          placeholder="{ q_matrix: []}"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Create</button>
            </div>
        </div>
        {% csrf_token %}
    </form>
    <a href="http://jsoneditoronline.org/">Json Editor</a>
    <script>
        var addValueTransactionMatrixClickEvent = function () {
            $('#addValueTransactionMatrix').click(function (event) {
                var newControls = $('#TransactionMatrix').clone(true);
                $(newControls).removeClass('hide');
                $(newControls).attr('id', '');
                $(newControls).find('a').attr('id', 'addValueTransactionMatrix');
                $(this).parent().after(newControls);
                $(this).remove();
                addValueTransactionMatrixClickEvent();
                event.preventDefault();
            });
        };
        addValueTransactionMatrixClickEvent();
        var addNodesClickEvent = function () {
            $('#nodes-add-button').click(function (event) {
                var newControls = $('#Nodes').clone(true);
                $(newControls).removeClass('hide');
                $(newControls).attr('id', '');
                $(newControls).find('a').attr('id', 'nodes-add-button');
                $(this).parent().after(newControls);
                $(this).remove();
                addNodesClickEvent();
                event.preventDefault();
            });
        };
        addNodesClickEvent();
    </script>
{% endblock %}