{% extends "base_generic.html" %}
{% block allmodels %} class="active" {% endblock %}
{% block content %}

    <div class="accordion" id="accordion2">
        {% for model in all_models_list %}
            <div class="accordion-group">
                <div class="accordion-heading">

                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                       href="#collapse{{ model.id }}">
                        <div class="row">
                            <div class="span3">
                                <span> {{ model.title }} </span>
                            </div>
                            <div class="span3">
                                <span> {{ model.created_at }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="collapse{{ model.id }}" class="accordion-body collapse ">
                    <div class="accordion-inner">
                        <div class="pagination-right">
                            <a href="{% url 'view_model' model.id %}">
                                <button class="btn btn-primary">View</button>
                            </a>
                            <a href="{% url 'modify_model' model.id %}">
                                <button class="btn btn-primary">Modify</button>
                            </a>
                            <a href="{% url 'delete_model' model.id %}">
                                <button class="btn btn-danger">Delete</button>
                            </a>
                        </div>
                        <p>Input Data:</p>
                        <pre class="prettyprint lang-js">{{ model.json_input }}</pre>
                        {% if model.json_output %}
                            <p>Output Data:</p>
                            <pre class="prettyprint lang-js">{{ model.json_output }}</pre>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}