{% extends "base_generic.html" %}
{% block content %}
    <form class="form-horizontal row" action="{% url 'modify_model' model.id %}" method="POST">
        <div class="control-group">
            <label class="control-label" for="inputTitle">Model Title</label>

            <div class="controls">
                <input type="text" class="span4" name="title" id="inputTitle" placeholder="Title"
                       value="{{ model.title }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputData">Json Data</label>

            <div class="controls">
                <textarea rows="10" class="span9" name="json_input" id="inputData">{{ model.json_input }}</textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Modify</button>
            </div>
        </div>
        {% csrf_token %}
    </form>
    <a href="http://jsoneditoronline.org/">Json Editor</a>
{% endblock %}