{% extends "base_generic.html" %}
{% load staticfiles %}
{% block content %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>


    <h2>{{ model.title }}</h2>

    <div class="text-left">
        <span> Created At: {{ model.created_at }} </span>
    </div>
    <div class="pagination-right">
        <a href="{% url 'operation_analysis_model' model.id %}">
            <button class="btn btn-primary">Operation Analysis</button>
        </a>
        <a href="{% url 'markov_analysis_model' model.id %}">
            <button class="btn btn-primary">Markov Analysis</button>
        </a>
        <a href="{% url 'modify_model' model.id %}">
            <button class="btn btn-primary">Modify</button>
        </a>
        <a href="{% url 'delete_model' model.id %}">
            <button class="btn btn-danger">Delete</button>
        </a>
    </div>
    <p>Input Data:</p>
    <pre class="prettyprint lang-js">{{ model.json_input }}</pre>
    {% if model.operation_analysis_json_output %}
    <p>Output Data for Operation Analysis:</p>
        <div id="chart_operation_div" style="width: 900px; height: 500px;"></div>
    <script type="text/javascript">
        var data = {{ model.operation_analysis_json_output  |safe  }};
        var  X0N = _.filter(data.nodes, function (elem) {
           return data.reference_node === elem.id
        })[0];
        var N = _.range(1, X0N.throughput_N.length + 1);
        var NX01 = _.map(N, function (n) {
                    return n * parseFloat(X0N.throughput_N[0]);
        });
        var tBottleneck = _.map(N, function (n) {
            return parseFloat(data.BOTTLENECK_DATA.THROUGHPUT_BOTTLENECK);
        });
        var tHiddenBottleneck = _.map(N, function (n) {
                    return parseFloat(data.BOTTLENECK_DATA.THROUGHPUT_HIDDEN_BOTTLENECK);
        });
        X0N = _.map(X0N.throughput_N, function (elem) {
            return parseFloat(elem);
        });
        var tableData = _.zip(N, X0N, NX01, tBottleneck, tHiddenBottleneck);
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['N', 'X0(N)', 'N*X0(1)', '1/VbSb', '1/VhSh']
            ].concat(tableData));

            var options = {
              title: 'Throughput',
              vAxis: {
                  title: 'Throughput'
              },
              hAxis: {
                  title: 'number of Jobs'
              }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_operation_div'));
            chart.draw(data, options);
        }
    </script>
    <pre class="prettyprint lang-js">{{ model.operation_analysis_pretty_json_output }}</pre>
    {% endif %}
    {% if model.markov_analysis_json_output %}
    <p>Output Data for Markov Analysis:</p>
    <pre class="prettyprint lang-js">{{ model.markov_analysis_pretty_json_output }}</pre>
    {% endif %}
{% endblock %}