{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="{% static "css/normalize.css" %}">
    <link rel="stylesheet"
          href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet"
          href="{% static "css/PerformaceAssessment.css" %}">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <title>Performance Analysis</title>
</head>
<body>
<div class="container">
    {% block navbar %}
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="{% url 'index' %}">Performance Analysis</a>
                <ul class="nav">
                    <li {% block allmodels %} {% endblock %}><a href="{% url 'index' %}">All Models</a></li>
                    <li {% block addmodel %} {% endblock %}><a href="{% url 'add_model' %}">Add Model</a></li>
                </ul>
            <ul class="nav pull-right">
                <li><a target="_blank" href="https://bitbucket.org/MattiaB/performance-assessment-simulation-and-models/">Code</a></li>
                </ul>

            </div>
        </div>
    {% endblock %}

    {% block content %}{% endblock %}

</div>

<script src="{% static "js/bootstrap.min.js" %}"></script>
<!--<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> -->
</body>
</html>